@use "@angular/material" as mat;
@use "./assets/themes/theme-colors" as my-theme;

html, body {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-primary);
  // Custom Card (I know, there is only one in this app, but I have to think globally
  .mat-mdc-card {
    box-shadow: none;
    border-radius: 16px;
    padding: 16px;
  }

  p {
    text-align: center;
  }
}
